# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
