{% extends "base.html" %}

{% block title %}My Reviews{% endblock %}

{% block content %}

    <div class="container py-2">

    <h5 class="fs-4">My Reviews:</h5>
        <hr class="mb-3">

        <ul class="list-group list-group-flush">
            {% for review in reviews %}
            <div class="card mb-3 p-3">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-medium mb-0">
                        <a href="{% url 'movie_detail' review.movie.pk %}" style="text-decoration: none;">{{ review.movie.title }}</a>
                    </h6>
                    <p class="small fst-italic text-muted">{{ review.created_at }}</p>
                </div>
                <span class="mt-1 text-warning">
                            {% for i in "12345" %}
                            {% if forloop.counter <= review.rating %}
                            <i class="bi bi-star-fill"></i>
                            {% else %}
                            <i class="bi bi-star"></i>
                            {% endif %}
                            {% endfor %}
                        </span>
                <p class="muted mt-2 mb-0">{{ review.review }}</p>
                <div class="d-flex gap-2 mt-3">
                    <a href="{% url "edit_review" review.id %}" class="col-sm-0 py-1 btn btn-outline-primary">Edit</a>
                    <a href="{% url "delete_review" review.id %}" class="col-sm-0 py-1 btn btn-outline-danger">Delete</a>
                </div>
            </div>
            {% empty %}
                <p class="lead text-muted fst-italic fs-5 text-center">You haven't written any review yet!</p> 
            {% endfor %}
        </ul>

    </div>

{% endblock %}