<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ theme|default:"dark" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelRate | {% block title %}{% endblock %}</title>
    {% comment %} BootStrap CSS {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% comment %} BootStrap icons {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "home_page" %}">ReelRate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                <div class="d-flex justify-content-center navbar-nav">
                    <a class="nav-link" href="{% url "browse_movies" %}">Browse Movies</a>
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url "user_review_page" %}">My Reviews</a>
                        <a class="btn btn-info px-4 ms-3" href="{% url "profile_page" %}">Profile</a>
                        <button type="button" class="btn btn-danger px-3 mx-3" data-bs-toggle="modal" data-bs-target="#logoutModel">
                        Logout
                        </button>
                    {% else %}
                        <a class="btn btn-success px-4 mx-3" href="{% url "login_page" %}">Login</a>
                    {% endif %}
                </div>
                {% comment %} toggle theme button {% endcomment %}
                <button class="bg-transparent border-0" id="toggle-theme" ><i class="bi bi-circle-half"></i></button>
            </div>
        </div>
    </nav>
 
    {% comment %} logout model {% endcomment %}
    <div class="modal fade" id="logoutModel" data-bs-backdrop="static" data-bs-keyboard="false" 
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Logout</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure want to logout from the website?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" href="{% url "logout" %}">Yes, Logout</a>
        </div>
        </div>
    </div>
    </div>

    
    <main class="p-4 flex-grow-1">
        {% block content %}
        {% comment %} main content of website here... {% endcomment %}
        {% endblock %}
    </main>

    
    <footer class="border-top py-4 mt-auto">
        <div class="container text-start">
            <p class="mb-1 fs-5 fst-italic fw-medium">ReelRate</p>
            <p class="mb-0 text-muted fst-italic" style="font-size: 15px;">Rate movies. Read honest reviews.</p>
        </div>
    </footer>

    {% comment %} JS code for toggle theme (Dark / light) {% endcomment %}
    <script>
        const btn = document.getElementById('toggle-theme');
        const html = document.documentElement;

        btn.addEventListener('click', () => {
        const current = html.getAttribute('data-bs-theme') || 'dark';
        const next = current === 'light' ? 'dark' : 'light';

        html.setAttribute('data-bs-theme', next);

      });

    </script>

    {% comment %} BootStrap JS CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>
</html>